# numpy
# pandas
# scipy
# matplotlib
# streamlit
# ydata-profiling
# streamlit-pandas-profiling
# openpyxl
# xlrd

numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.11.4 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.8.4 ; python_version >= "3.10" and python_version < "3.11"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "3.11"
ydata-profiling==4.7.0 ; python_version >= "3.10" and python_version < "3.11"
streamlit==1.35.0 ; python_version >= "3.10" and python_version < "3.11"
streamlit-pandas-profiling==0.1.3 ; python_version >= "3.10" and python_version < "3.11"
openpyxl==3.1.3 ; python_version >= "3.10" and python_version < "3.11"